<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Munro Leys - Leave Management System</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">

    <style>
    body{padding-top: 70px;}
    </style>

  </head>
  <body>

    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <nav class="nav navbar-nav">
          <a class="navbar-brand" href="/">Leave management system</a>
        </nav>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script type=text/javascript src="{{url_for('static', filename='jquery-214.min.js') }}"></script>
    <!--<script type=text/javascript src="{{url_for('static', filename='bootstrap.min.js') }}"></script>-->

  </body>
</html>
